* {
  	box-sizing: border-box;
}
.info {
	padding: 15px;
	height: 220px;
	border: #BF2920 3px solid;
	overflow: scroll;
	margin:0px;
}
img{
	width:100%;
	margin:0px;
	padding:0px;
	display: block;
}